body{
  margin: 0;
  background-image: url(image/doi.jpg);
  min-width: 875px;
}
.wrapper{
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  min-height: 1300px;
}
h1,h2,h3,h4,h5,h6,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;

}
header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 0;
  border-bottom: 2px solid #CC3333;
}
header h1{
  color: #000;
  padding: 20px 0 10px 30px;

}
header a{
  font-size: 27px;
  color: #952c3e;
  padding: 20px;
}
dl{
  margin: 0;
  font-size: 25px;
}
.page-1 li{
  margin-bottom: 25px;
}
dt{
}
dd{
  color:#CC3333	;
  background-color:#CC3333	;
  display: inline;
  padding-right: 40px;
  margin-left: 25px;
}
input{
  margin-left: 5px;
  padding:5px;
  width:35%;
}
dd:hover{
  background-color: #fff;
}

@media screen and (max-width:1275px) {
  body{
    background:#fff;
  }
  .wrapper{
    width: 98%;
  }
  ol li{
    display: flex;
    flex-flow: column;
    width: 90%;
    margin-bottom: 30px;
    list-style: circle;
  }
  input{
    margin-left: 25px;
    width: auto;
  }
  dd{
    margin-top: 10px;
  }
}
