body{
  margin: 0;
}
.wrapper{
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  min-height: 1300px;
}
h1,h2,h3,h4,h5,h6,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
header{

  /* opacity: 0.5; */
}
header h1{
  color: #000;
  padding: 20px 0 10px 30px;
  border-bottom: 2px solid #CC3333;
}
ul{
  margin-top: 20px;
  list-style: circle;
}
a{
  font-size: 27px;
  color: green;
}
li{
  padding: 10px;
  margin-left: 10px;
}
